<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gtek.dragon_eye_rc">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name="com.gtek.dragon_eye_rc.DragonEyeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DragonEye">
        <activity
            android:name="com.gtek.dragon_eye_rc.VideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gtek.dragon_eye_rc.CameraSettingsActivity"
            android:label="@string/title_activity_camera_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gtek.dragon_eye_rc.SystemSettingsActivity"
            android:label="@string/title_activity_system_settings"
            android:screenOrientation="portrait" />
        <activity android:name="com.gtek.dragon_eye_rc.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>